* {
   margin: 0;
   padding: 0;
}

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: rgba(22, 28, 44, 1);
   width: 100%;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.table {
   position: relative;
   width: 100%;
   border-spacing: 0;
}
thead {
   display: table-header-group;
}
th {
   padding: 10px;
   font-weight: 400;
   color: #ffffff;
   font-size: 18px;
   line-height: 1.2;
   border-bottom: 2px solid rgba(255, 255, 255, 0.15);
   white-space: nowrap;
}

th:last-child {
   text-align: center;
}
tr {
   border-bottom: 1px solid red;
}

tbody {
   width: 100%;
}

td {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.2;
   border-bottom: 2px solid rgba(255, 255, 255, 0.15);
   padding: 30px 10px;
   color: rgba(255, 255, 255, 0.5);
   white-space: nowrap;
}

td:last-child {
   text-align: center;
}

tr,
td,
th {
   text-align: left;
   height: 29px;
}

.table-link {
   color: rgba(0, 148, 255, 1);
   text-decoration: none;
}
